.album-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, min(600px, 90vw));
    column-gap: 6px;
}
.photo-container {
    width: auto;
    height: auto;
}
.photo {
    width: min(600px, 90vw);
    height: calc(min(600px, 90vw) * 0.75);
    border-radius: 6px;
}