.album-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    column-gap: 6px;
}
.photo-container {
    // width will be set on the image
    width: auto;
    height: auto;
}
