<div class="albums-container">
    @for(album of albums$ | async; track album) {
    <div class="album-container">
        <div class="thumbnail-container">
            <a [routerLink]="['/albums', album.path]">
                <img src="{{ getThumbnailImagePath(albums, album, thumbnailWidth$.value ) }}"
                     srcset="{{ getThumbnailImagePath(albums, album, thumbnailWidth$.value * 2) }} 2x"
                     alt="{{ album.description }}"
                     width="{{ thumbnailWidth$ | async }}">
            </a>
        </div>
        <div class="album-summary">
            <span class="album-name">{{ album.name }}</span>
        </div>
    </div>
    }
</div>