.albums-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, min(300px, 90vw));
    column-gap: 6px;
}
.album-container {
    display: grid;
    grid-template-rows: 225px auto;
    row-gap: 0;
}
.thumbnail-container {
    width: auto;
    height: 225px;
}
.album-summary {
    text-align: center;
    padding-bottom: 5px;
    background-color: #555;
    color: white;
}
.album-name {
    font-size: 13px;
}
.preview {
    width: min(300px, 90vw);
    height: calc(min(300px, 90vw) * 0.75);
}
